<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.HairshopMapper">

    <!--특정 미용실 조회-->
    <select id="hairshopFind" resultType="HairshopDTO" parameterType="int">
        select shop_seq, shop_name, shop_register,  shop_address, shop_phone, shop_intro, shop_image, shop_start, shop_end, shop_off, shop_tag
        from T_HAIRSHOP
        where shop_seq=#{shop_seq}
    </select>

    <!--모든 미용실 조회-->
    <select id="hairshopFindAll" resultType="HairshopDTO">
        select shop_seq, shop_name, shop_register, shop_address, shop_phone, shop_intro, shop_image, shop_start, shop_end, shop_off
        from T_HAIRSHOP
    </select>

    <!--미용실 데이터 수정-->
    <update id="hairshopUpdate" parameterType="HairshopDTO">
        update T_HAIRSHOP set
        shop_off=#{shop_off},
        shop_address=#{shop_address},
        shop_phone=#{shop_phone},
        shop_start=#{shop_start},
        shop_end=#{shop_end},
        shop_image=#{shop_image},
        shop_intro=#{shop_intro},
        shop_tag=#{shop_tag}
        where shop_seq=#{shop_seq}
    </update>

    <!--미용실 데이터 추가-->
    <insert id="hairshopAdd" parameterType="HairshopDTO">
        INSERT INTO T_HAIRSHOP (shop_name, shop_register, shop_address, shop_phone, shop_intro, shop_image, shop_start, shop_end, shop_off)
        VALUES (#{shop_name},#{shop_register},#{shop_address},#{shop_phone},#{shop_intro},#{shop_image},#{shop_start},#{shop_end}, shop_off)
    </insert>

    <!--미용실 데이터 삭제-->
    <delete id="hairshopDelete" parameterType="int">
        DELETE FROM T_HAIRSHOP WHERE shop_seq = #{hairshopSeq}
    </delete>

    <!--회원가입-->
    <insert id="signUp" parameterType="HairshopDTO">
    INSERT INTO T_HAIRSHOP (shop_name, shop_register, shop_id, shop_pw, shop_address, shop_intro, shop_image, shop_start, shop_end, shop_phone, shop_off, shop_tag)
    VALUES (#{shop_name}, #{shop_register}, #{shop_id}, #{shop_pw}, #{shop_address}, #{shop_intro}, #{shop_image}, #{shop_start}, #{shop_end}, #{shop_phone}, #{shop_off}, #{shop_tag})
    </insert>

    <!-- 휴무일 조회 -->
    <select id="tempdayFind" resultType="TempdayDTO">
        select temp_seq,te.shop_seq, st.staff_name as title,  temp_offday as date
        from T_TEMPDAY te
        LEFT JOIN T_STAFF st ON te.staff_seq = st.staff_seq
        where te.shop_seq=#{shop_seq}

    </select>

</mapper>