<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.HomeMapper">

    <!--패스워드 수정-->
    <update id="updatePassword" parameterType="hashmap">
        update T_HAIRSHOP set shop_pw=#{after_password}
        where shop_seq=#{shop_seq}
    </update>

    <!--패스워드 조회-->
    <select id="getPw" resultType="string">
        select shop_pw from T_HAIRSHOP where shop_seq=#{shop_seq}
    </select>
</mapper>