<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.config.ReservationMapper">
    <!--전체 리뷰 조회-->
    <select id="reviewFindAll" resultType="ReviewDTO">
        SELECT
        tr.review_seq,
        th.shop_name,
        cu.cust_name,
        tr.review_score,
        tr.review_content,
        tr.review_photo,
        tr.review_date,
        tr.review_reply
        FROM
        t_review tr
        LEFT JOIN t_hairshop th ON tr.shop_seq = th.shop_seq
        LEFT JOIN t_reservation re ON tr.reserv_seq = re.reserv_seq
        LEFT JOIN t_customer cu ON tr.reserv_seq = cu.cust_seq
    </select>

    <!--특정 리뷰 조회-->
    <select id="reviewFind" resultType="ReviewDTO" parameterType="int">
        select review_seq, shop_seq, reserv_seq, review_score, review_content, review_photo, review_date, review_reply from T_REVIEW where review_seq=#{review_seq}
    </select>

    <!--특정 리뷰 답글달기-->
    <update id="reviewUpdate" parameterType="hashmap">
        update T_REVIEW set review_reply=#{review_reply} where review_seq=#{review_seq}
    </update>

    <!--// 특정 리뷰 삭제-->
    <delete id="reviewDelete" parameterType="int">
        delete from T_REVIEW where review_seq=#{review_seq}
    </delete>
</mapper>